* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #242424;
}

.Form {
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #A0A0A0;
    display: flex;
    overflow: hidden;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 2em;
    height: 100%;
    width: 50%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: 1s;
    background-color: #242424;
}

.Register{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.Form.togglerContainer .Register{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.Form.togglerContainer .Login{
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
}

.formBox h2, .overlayContent h2 {
    font-size: 3em;
    font-weight: 400;
    color: #E65100;
}

.formBox a, p {
    padding: 0.5em;
    text-decoration: none;
    color: #E65100;
}

.formlogo img {
    padding: 0.5em;
    cursor: pointer;
}

.formInput {
    width: 100%;
    padding: 1em 1em 0.5em;
    margin-top: 0.8em;
    border: transparent;
    border-radius: 8px;
    background-color: #E65100;
    color: #242424;
}

.btn {
    position: relative;
    width: 12em;
    padding: 0.5em;
    margin: 0.5em auto;
    border-radius: 2em;
    color: #E65100;
    border: 2px solid #E65100;
    background-color: #242424;
    font-size: 1em;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: bold;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #E65100;
    z-index: -1;
    transition: width 0.8s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: #242424;
}

.SeparaForm{
    display: flex;
}

.Fullname, .Register .password {
    margin-left: 1em;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: 1s;
}

.Form.togglerContainer .overlayContainer {
    transform: translateX(0%);
    transition: 0.8s;
}

.Form.togglerContainer .overlayContent:nth-child(2){
    z-index: -1;
    opacity: 0;
}

.overlayContent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #242424;
}

.overlayContent h2 {
    padding-bottom: 0.5em;
    color: #242424;
}

.overlayContent p {
    color: #242424;
    margin: 0 3em;
}

.btnOverlay {
    background-color: #E65100;
    color: #242424;
    border: 2px solid #242424;
}

.btnOverlay::before {
    background-color: #242424;
}

.btnOverlay:hover {
    color: #E65100;
}
