/*Zerando o elemento pai do HTML*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*Chamando o conteudo principal*/
main {
    height: 100vh;
    /*Definindo que a altura do main é de 100% da tela*/
    display: flex;
    /*Colocando as Divs em Flex*/
    flex-direction: column;
    /*Direcionando os elementos em coluna*/
    justify-content: center;
    /*Elementos centralizados no x */
    align-items: center;
    /*Elementos centralizados no y */
    text-align: center;
    /*Textos centralizados no eixo y */
    background-color: #242424;
    /*Cor de fundo*/
}

/*Finalizando o conteudo principal*/

/*Chamando o Elemento pai*/
.Form {
    position: relative;
    /*Declarando que a posição é Relativa, ou seja, a posição dela é propria, e não do elemento HTML*/
    height: 480px;
    /*Altura do "Retangulo"*/
    width: 768px;
    /*Largura do "Retangulo"*/
    border-radius: 12px;
    /*Colocando uma curva nas bordas"*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    /*Colocando sombras nas bordas*/
    display: flex;
    overflow: hidden;
    /*Hidden é para esconder os elementos que estiverem fora do Form*/
}

/*Finalizando o Elemento pai*/

/*Chamando onde fica os formularios*/
.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*Espaçando os elementos por iguais*/
    text-align: center;
    padding: 2em;
    height: 100%;
    width: 50%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: 1s;
    /*Transição para aparecer de 1s*/
    background-color: #2e2e2e;
}

/*Finalizando onde fica os formularios*/

/*Chamando onde fica os formularios apenas registro*/
.Register {
    transform: translateX(-100%);
    /*Jogando o elemento no eixo x totalmente á esquerda(nesse caso)*/
    z-index: -1;
    /*Definindo que o elemento não será visivel*/
    opacity: 0;
    /*Confirmando que o elemento não será visivel*/
}

/*Finalizando onde fica os formularios apenas registro*/

/*Chamando formulario registro apenas quando a classe togglerContainer for adicionado ao elemento pai Form*/
.Form.togglerContainer .Register {
    transform: translateX(0%);
    /*Jogando o elemento no eixo x totalmente á Direita(nesse caso)*/
    z-index: 1;
    /*Definindo que o elemento será visivel*/
    opacity: 1;
    /*Confirmando que o elemento será visivel*/
}

/*Finalizando formulario registro*/

/*Chamando formulario Login apenas quando a classe togglerContainer for adicionado ao elemento pai Form*/
.Form.togglerContainer .Login {
    transform: translateX(100%);
    /*Jogando o elemento no eixo x totalmente á Esquerda(nesse caso)*/
    z-index: -1;
    /*Definindo que o elemento não será visivel*/
    opacity: 0;
    /*Confirmando que o elemento não será visivel*/
}

/*Finalizando formulario Login*/

/*Chamando H2 do formulario e do overlay*/
.formBox h2,
.overlayContent h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: #E65100;
}

/*Finalizando H2 do formulario e do overlay*/

/*Chamando a e p do formulario*/
.formBox a,
p {
    padding: 1em;
    text-decoration: none;
    /*Sem decoração de texto*/
    color: #E65100;
}

/*Finalizando a e p do formulario*/

/*Chamando Icones*/
.social-icon {
    position: relative;
    /*Definindo que ele é o lemento pai de quem esta dentro(i)*/
    display: inline-flex;
    /*Definindo que o elemento será em linha*/
    align-items: center;
    /*Elementos centralizados no y */
    justify-content: center;
    /*Elementos centralizados no x */
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
    /*Deixando redondo*/
    background-color: #E65100;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    /*Hidden é para esconder os elementos que estiverem fora do Form*/
    text-decoration: none;
    /*Sem decoração de texto*/
    transition: color 0.3s ease;
    /*Fazendo uma transição de cor, com velocidade de 0.3s facil*/
}

/*Finalizando Icones*/

/*Chamando Icones:before(antes)*/
.social-icon::before {
    content: "";
    /*Conteudo do before*/
    position: absolute;
    /*Posição absoluta dentro do elemento pai*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    z-index: 0;
    /*Será visivel*/
    transition: 0.8s ease;
    /*Transição de 0.8s*/
    transform: translateY(100%);
    /*Transformando o eixo y em 100%*/
}

/*Finalizando Icones:before*/

/*Chamando Icones:before(antes) com hover(passar do mouse)*/
.social-icon:hover::before {
    transform: translateY(0);
    /*Com hover, vai transformar o eixo y em 0*/
}

/*Finalizando Icones:before(antes) hover*/

/*Chamando Icones i*/
.social-icon i {
    z-index: 1;
    /*Tornando Visivel já no inicio da tela*/
    transition: color 0.3s ease;
    /*Transição de cor de 0.3s*/
    color: #242424;
}

/*Finalizando Icones i*/

.social-icon:hover i {
    color: #E65100;
}


/*Chamando Inputs*/
.formInput {
    width: 100%;
    padding: 1em 1em 0.5em;
    margin-top: 0.8em;
    border: transparent;
    border-radius: 8px;
    background-color: #E65100;
    color: #242424;
}

/*Finalizando Inputs*/

/*Cor do placeholder*/
input::placeholder {
    color: black;
}

/*Chamando Botão*/
.btn {
    position: relative;
    width: 12em;
    padding: 0.5em;
    margin: 0.5em auto;
    border-radius: 2em;
    color: #E65100;
    border: 2px solid #E65100;
    background-color: #242424;
    font-size: 1em;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: bold;
    z-index: 0;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #E65100;
    z-index: -1;
    transition: width 0.8s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: #242424;
}

/*Finalizando Botão*/

.SeparaForm {
    display: flex;
    /*Input dentro da div ficarão do lado do outro*/
}

.Fullname,
.Register .passwords {
    margin-left: 1em;
}

/*Chamando Overlay(camada de cima)*/
.overlayContainer {
    position: absolute;
    /*Declarando que ele está sob o elemento pai dele*/
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 999;
    /*Declarando que ele está Por cima de qualquer coisa*/
    transform: translateX(100%);
    /*Declarando que ele está sob o elemento pai dele*/
    transition: 1s;
}

/*Chamando o Overlay apenas quando a classe togglerContainer for adicionado ao elemento pai Form*/
.Form.togglerContainer .overlayContainer {
    transform: translateX(0%);
    /*Jogando o elemento no eixo x totalmente á Esquerda(nesse caso)*/
    transition: 1s;
}

/*Chamando o Overlay 2 apenas quando a classe togglerContainer for adicionado ao elemento pai Form*/
.Form.togglerContainer .overlayContent:nth-child(2) {
    /*nth-child vai chamar o a segunda div com a classe overlayContent*/
    z-index: -1;
    /*Declarando que não será visivel quando estiver com a classe toggler*/
    opacity: 0;
}

.overlayContent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #242424;
}

.overlayContent h2 {
    padding-bottom: 0.5em;
    color: #242424;
}

.overlayContent p {
    color: #242424;
    margin: 1em 3em;
}

.btnOverlay {
    background-color: #E65100;
    color: #242424;
    border: 2px solid #242424;
}

.btnOverlay::before {
    background-color: #242424;
}

.btnOverlay:hover {
    color: #E65100;
}

/*Finalizando Overlay(camada de cima)*/

.mobile-text {
    display: none;
}

/*Tela de Recuperar Senha*/

.recuperaFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.recuperacao {
    background-color: #242424;
    width: 100%;
    border: 5px solid black;
}

.formInputRecupera {
    width: 50%;
    padding: 1em 1em 0.5em;
    margin: 2em;
    border: transparent;
    border-radius: 8px;
    background-color: #E65100;
    color: #242424;
}

label {
    font-size: 2.5em;
    font-weight: bold;
    color: #E65100;
}

.btnRecuperacao {
    width: 20em;
    padding: 1em;
    border: transparent;
}

/*Tela Tablet e celular*/
@media (max-width: 768px) {

    .overlayContainer {
        display: none;
    }

    .Form {
        width: 75vw;
        height: 75vh;
        box-shadow: none;
    }

    .Register {
        position: absolute;
        transform: translateX(100%);
    }

    .Form.togglerContainer .overlayContainer {
        transform: translateX(0%);
    }

    .formBox {
        width: 100%;
    }

    .mobile-text {
        display: block;
    }

    .mobile-text a {
        font-weight: 900;
        color: white;
    }
}

/*Tela celulares*/
@media (max-width: 480px) {

    .Form {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}