* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #242424;
}

.Form {
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    overflow: hidden;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 2em;
    height: 100%;
    width: 50%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: 1s;
    background-color: #2e2e2e;
}

.Register {
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.Form.togglerContainer .Register {
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.Form.togglerContainer .Login {
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
}

.formBox h2,
.overlayContent h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: #E65100;
}

.formBox a,
p {
    padding: 0.5em;
    text-decoration: none;
    color: #E65100;
}

.social-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
    background-color: #E65100;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    z-index: 0;
    transition: transform 0.8s ease;
    transform: translateY(100%);
}

.social-icon:hover::before {
    transform: translateY(0);
}

.social-icon i {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
    color: #242424;
}

.social-icon:hover i {
    color: #E65100;
}


.formInput {
    width: 100%;
    padding: 1em 1em 0.5em;
    margin-top: 0.8em;
    border: transparent;
    border-radius: 8px;
    background-color: #E65100;
    color: #242424;
}

input::placeholder {
    color: black;
}

.btn {
    position: relative;
    width: 12em;
    padding: 0.5em;
    margin: 0.5em auto;
    border-radius: 2em;
    color: #E65100;
    border: 2px solid #E65100;
    background-color: #242424;
    font-size: 1em;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: bold;
    z-index: 0;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #E65100;
    z-index: -1;
    transition: width 0.8s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: #242424;
}

.SeparaForm {
    display: flex;
}

.Fullname,
.Register .password {
    margin-left: 1em;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: 1s;
}

.Form.togglerContainer .overlayContainer {
    transform: translateX(0%);
    transition: 0.8s;
}

.Form.togglerContainer .overlayContent:nth-child(2) {
    z-index: -1;
    opacity: 0;
}

.overlayContent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #242424;
}

.overlayContent h2 {
    padding-bottom: 0.5em;
    color: #242424;
}

.overlayContent p {
    color: #242424;
    margin: 1em 3em;
}

.btnOverlay {
    background-color: #E65100;
    color: #242424;
    border: 2px solid #242424;
}

.btnOverlay::before {
    background-color: #242424;
}

.btnOverlay:hover {
    color: #E65100;
}

.mobile-text {
    display: none;
}

@media (max-width: 768px) {

    .overlayContainer {
        display: none;
    }

    .Form {
        width: 75vw;
        height: 75vh;
        box-shadow: none;
    }

    .Register {
        position: absolute;
        transform: translateX(100%);
    }

    .Form.togglerContainer .overlayContainer {
        transform: translateX(0%);
    }

    .formBox {
        width: 100%;
    }

    .mobile-text {
        display: block;
    }

    .mobile-text a {
        font-weight: 900;
        color: white;
    }
}

@media (max-width: 480px) {

    .Form {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

